{% extends 'base.html' %}

{% block content %}
  <h2>제목: {{ post.title }}</h2>
  <hr>
  <a href="{% url 'posts:index' %}">뒤로가기</a>
  <hr>
  <h4>{{ post.content|linebreaks }}</h4>
  <hr>
  <p>작성일: {{ post.created_at }}</p>
  <p>수정일: {{ post.updated_at }}</p>
  
  
  <form action="{% url 'posts:delete' post.pk %}" method="POST">
    <a class="btn btn-dark" href="{% url 'posts:update' post.pk %}">게시글 수정</a>
    {% csrf_token %}
    <button class="btn btn-danger">게시글 삭제</button>
  </form>
  
  <hr>
{% endblock  %}
